@import '../../variables.scss';

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;

    @media screen and (max-width: 1210) {
        flex-direction: column;
    }

    :global .title {
        margin-right: 5rem;
        min-width: 600px;
        text-align: center;

        h1 {
            margin-bottom: 3rem;
        }

        p {
            display: block;
            margin-top: 2rem;
            line-height: 1.6em;
            word-spacing: .2em;
            text-align: center;
        }
        
    }

    :global .login {
        background: $third-color;
        border-radius: 4px;
        width: 461px;
        box-sizing: border-box;
        padding: 4rem;
        transition: height 2s;
    
        :global h2 {
            margin-bottom: 28px;
        }
    
        :global button {
            width: -webkit-fill-available;
            margin: 1rem 0;
        }
    }

}