@import '../../variables.scss';

.alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    transition: background ease-in .3s;

    &.transition {
        background-color: rgba(0, 0, 0, 0.575);
    }

    &.clickable {
        pointer-events: none;
    }

    .transparent-child {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    .alert-body {
        position: absolute;
        top: 50%;
        left: 50%;
        background:#2e2e2e;
        border-radius: 8px;
        padding: 1rem 2rem;
        transform: translate(-50%, -50%);
        color: $normal;
        box-shadow: 0px 0px 180px #000;
        max-height: 515px;
        // overflow-y: hidden;

        .close {
            float: right;
            cursor: pointer;
        }
        
        @media screen and (max-width: $media-desktop-sm) {
            width: 80%;
        }
    }
    
}