@import 'variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Roboto Local';
    src: url('/assets/fonts/Roboto-Regular.ttf');
}

* {
    font-family: 'Open Sans', 'Roboto Local', sans-serif;

    body  {
        margin:0;
        padding:0;
        background: #121214;
        color: $normal;
    }
    
    input, button {
        border: 0;
        outline:none;
    }

    h1, h2, h3, h4, h5, h6 {
        margin:0;
        padding:0;
    }

    a {
        cursor: pointer;
        color: $grey;
        text-decoration: none;

        &:hover {
            color: $grey-accent;
            text-decoration: underline;
        }
    }
    
}

button {
    background-color: #16A34A;
    cursor: pointer;
    padding: 1rem;
    border-radius: 6px;
    font-weight: bold;
    font-size: 14px;
    box-sizing: border-box;
    transition: .2s filter;

    &:disabled {
        background-color: #3f3f3f!important;
        color: grey!important;
        cursor: auto;
    }

    &:not(:disabled):hover {
        filter: brightness(120%);
    }

    &.text-white {
        color: #fff;
    }

    &.danger {
        background-color: #a02e2e;
    }
   
}

input, textarea, select {
    background-color: $black-primary;
    outline: none;
    border:none;
    color: $normal;
    padding: 1rem;
    margin: 1px 0;

    &:hover {
        filter: brightness(86%);
    }

    &:is(input).outlined:focus {
        outline: 1px solid #565656;
        outline-offset: -13px;
    }

    &:is(select) {
        cursor: pointer;
    }
    
}

.container {
    width: 80%;
}

.main-wrapper {
    width: 80%;
    margin: 0 auto;
    margin-top: 4rem;
    min-height: 80vh;
}