@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    background: #121214;
}

.button-rounded {
    border-radius: .25rem!important;
}

.button-opacity {
    opacity: .7;
    transition: .3s opacity;
}

.button-opacity:hover {
    opacity: 1;
}

.navbar-container {
    display: flex;
    margin: 0 auto;
    width: 80%;
    justify-content: space-between;
}

.main-navbar {
    position: relative;
    height: 72px;
    box-sizing: border-box;
    top:0;
    z-index: 1;
}

.bg-white-opacity-7 {
    transition: .2s opacity;
    background-color: #201f24;
}

.link-opacity {
    opacity: 0.7;
    transition: opacity .2s;
}

.link-opacity:hover {
    text-decoration: none;
    opacity: 1;
}