.flex {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.imageIcons {
    margin-top: 3rem;
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    /* grid-auto-rows: minmax(min-content, max-content); */
    grid-gap: 3px;
    justify-items: center;
    align-items: center;
}

.item {
    margin-right: 1rem;
}

.item img {
    max-height: 240px;
    /* width: 350px;
    height: 200px; */
}