@import '../variables.scss';

.form_input {
    background: $secondary-color;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    cursor: text;
    margin-bottom: 1rem;
    align-items: stretch;
    outline: none;
    border-radius: 5px;

    :global .icon-base {
        display: flex;
        align-items: center;
        background: #1A1A1A;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    
    label {
        cursor: text;
        color: $grey-accent;
        padding: 0 1rem;
    }

    input {
        flex-grow: 1;
        border: none;
        color: $grey-accent;
    }
}